<h2>+11223344 </h2>
<div class="form-group">
  <label for="exampleInputEmail1">Введите Ваш e-mail</label>
  <input type="email" class="form-control" id="exampleInputemail" placeholder="E-mail">
  <span id="error-message" style="color: red;">
    </span>
</div>
<button type="submit" class="btn btn-default">Отправить</button>
